.wsl-container { 
	margin: 25px 40px 0 20px; 
	margin-left:20px;
}
.wsl-container .inside {
    font-size: 13px;
    line-height: 1.4em;
}
.wsl-container h1 {
	color: #333333;
	text-shadow: 1px 1px 1px #FFFFFF; 
	font-size: 2.8em;
	font-weight: 200;
	line-height: 1.2em;
	margin: 0.2em 200px 0.6em 0.2em;
}
.wsl-container h2 .nav-tab {
	color: #21759B;
}
.wsl-container h2 .nav-tab-active {
	color: #464646;
	text-shadow: 1px 1px 1px #FFFFFF;
}
.wsl-container hr{ 
	border-color: #EEEEEE;
	border-style: none none solid;
	border-width: 0 0 1px;
	margin: 2px 0 15px;
} 
.wsl-container h3, .wsl-container h3 label{ 
	cursor: default;
} 
.wsl-container p{  
	line-height: 1.8em; 
}
.wsl-container .wslpre{ 
	font-size:14m;
	border:1px solid #E6DB55; 
	border-radius: 3px;
	padding:5px;
	width:650px;
}
.wsl-container ul {
	list-style: disc outside none;
}
.thumbnails:before,
.thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}
.thumbnail {
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
		  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
		  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
	 -moz-transition: all 0.2s ease-in-out;
	   -o-transition: all 0.2s ease-in-out;
		  transition: all 0.2s ease-in-out;
}
a.thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	 -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
		  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.thumbnail .caption {
  padding: 9px;
  color: #555555;
}
.wsl-container .span4 {  
	width: 220px; 
}
.wsl_connect_with_provider {  
	text-decoration:none; 
	cursor:not-allowed;
} 
#wsl-w-panel {
	background: linear-gradient(to top, #F5F5F5, #FAFAFA) repeat scroll 0 0 #F5F5F5;
	border-color: #DFDFDF;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	font-size: 13px;
	line-height: 2.1em;
	margin: 20px 0;
	overflow: auto;
	padding: 5px;
	position: relative;
}
#wsl-w-panel-dismiss:before {
    background: url("images/xit.gif") no-repeat scroll 0 17% transparent;
    content: " ";
    height: 100%;
    left: -12px;
    position: absolute;
    width: 10px;
	margin: -2px 0;
}
#wsl-w-panel-dismiss:hover:before {
    background-position: 100% 17%;
}
#wsl-w-panel-dismiss {
	font-size: 13px;
	line-height: 1;
	padding: 8px 3px;
	position: absolute;
	right: 10px;
	text-decoration: none;
	top: 0px;
}
#wsl-w-panel-updates-tr {
	display:none;  
}
.wp-editor-textarea{
  width:98%;
  padding:1%;
  font-family:"Trebuchet MS", Arial, verdana, sans-serif;
}
.wp-editor-textarea textarea{
  height:100px;
}
.wp-editor-textarea input {
	width: auto !important;
}
#wsl_div_warn { 
	padding: 10px;  
	border: 1px solid #ddd; 
	background-color: #fff; 
	width: 55%;
	margin: 0px auto;
	margin-top:30px;
}
.wsl-container .button-danger {
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ce3f38, #bd362f);
	border-color: #bd362f;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	float: none;
	font-size: 13px;
	height: 30px;
	margin: 0;
	padding: 5px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	white-space: nowrap; 
}
.wsl-container .button-danger:focus, .wsl-container .button-danger:hover{
	background:#d3534c;
	border-color:#ce3f38;
	-webkit-box-shadow:inset 0 1px 0 rgba(206,63,56,.6);
	box-shadow:inset 0 1px 0 rgba(206,63,56,.6);
	color:#fff
}

.wsl_component_div{
	width: 30%;
	min-height: 140px; 
	padding: 10px; 
	border: 1px solid #ddd; 
	background-color: #fff;
	float:left;
	margin-bottom: 20px;
	margin-right: 20px;
	
	position: relative;
}
.wsl_component_div h3{
	border-bottom: 1px solid #ddd; 
	padding-bottom: 5px; 
	margin-bottom: 0px; 
}
.wsl_component_about_div{
	height: 2px; 
	overflow: hidden; 
	min-height: 93px; 
}

