#wp-social-login-connect-with{
	font-weight: bold;
}

#wp-social-login-connect-options{
	padding:10px;
}

#wp-social-login-connect-options a{
	text-decoration: none;
}

#wp-social-login-connect-options img{
	border:0 none;
}
