.wp-social-login-provider-list { padding: 10px; }
.wp-social-login-provider-list a {text-decoration: none; }
.wp-social-login-provider-list img{ border: 0 none; }

.wp-social-login-linked-accounts-list
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff; 
	border-collapse: collapse;
	text-align: left;
}
.wp-social-login-linked-accounts-list th
{
	font-size: 14px;
	font-weight: normal; 
	padding: 6px 8px;
	border-bottom: 2px solid #ccc;
	width: auto;
}
.wp-social-login-linked-accounts-list td
{
	border-bottom: 1px solid #ccc; 
	padding: 6px 8px;
	width: auto;
}
.wp-social-login-linked-accounts-list tbody tr:hover td
{
	color: #009;
} 
